<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eCommerce Database</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <nav>
        <a class="logo" href="/"> &lt;/&gt;</a>
        <ul class="nav-list">
            <li><a href="/">Início</a></li>
            <li><a href="/produtos">Produtos</a></li>
            <li><a href="/carrinho">Carrinho</a></li> 
        </ul>
    </nav> 

    <div class="container">
        <h1>Produtos</h1>
        {% for produto in produtos %}
        <section class="produto">
            <img src="{{ url_for('mostrar_imagem', produto_id=produto.ID_PRODUTO) }}" alt="Imagem do produto" class="produto-imagem">
            <div class="produto-info">
                <h2>{{ produto.MARCA }}</h2>
                <p><strong>Valor:</strong> R$ {{ produto.VALOR_PROD }}</p>
                <p><strong>Cor:</strong> {{ produto.COR }}</p>
                <p><strong>Tamanho:</strong> {{ produto.TAMANHO }}</p>
                <p><strong>Tipo de Tecido:</strong> {{ produto.TIPO_TECIDO }}</p>
                <a href="{{ url_for('comprar', produto_id=produto.ID_PRODUTO) }}" class="btn comprar-btn">Comprar</a>
            </div>
        </section>
        {% endfor %}
    </div>
    <div class="footer">
        &copy; 2024 eCommerce. Todos os direitos reservados.
    </div>
</body>
</html>
